<a href="https://colab.research.google.com/github/NANONANDFLASH/school_bigdata/blob/main/20615%EC%A0%95%ED%98%84%EC%84%9C_%EC%88%98%ED%96%89%EC%97%B0%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#p23_ex8

animals = ['토끼', '거북이', '사자', '호랑이']

for i in range(len(animals)):
  print(animals[i])

토끼
거북이
사자
호랑이

In [6]:
#p24_ex19

nums = [1,2,3,4]
nums.append(5);
print(nums)

nums.insert(2, 99)
print(nums)

[1, 2, 3, 4, 5]
[1, 2, 99, 3, 4, 5]

In [8]:
#p24_ex20

list1 = [1,2,3,4,5]
list2 = [10, 11]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 10, 11]

In [14]:
#p24_ex21

score = [88, 95, 70, 100, 99]
print("100의 위치:", score.index(100)+1)

print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

100의 위치: 4
99
100
95
[88, 70]

In [15]:
#p24_ex22

score = [88, 95, 70, 100, 99]

score.remove(99)
print("99 삭제 후: ", score)

score.sort()
print("리스트 정렬 후: ", score)

score.reverse()
print("거꾸로 정렬: ", score)

score.clear()
print("리스트 삭제 후: ", score)

99 삭제 후:  [88, 95, 70, 100]
리스트 정렬 후:  [70, 88, 95, 100]
거꾸로 정렬:  [100, 95, 88, 70]
리스트 삭제 후:  []

In [18]:
#P24_ex23

list1 = ['a', 'bb', 'c', 'd', 'aaa', 'c', 'ddd', 'aaa', 'b', 'cc', 'd', 'aaa']
lengh = list1.count('aaa')
print(lengh)

3

In [20]:
#p24_ex24
mylist = ['사과', '바나나', '파인애플']
mylist.append('키위')
mylist.append('배')
for a in mylist:
  print(a)

사과
바나나
파인애플
키위
배

In [26]:
#p25_ex29
emails = [['kim', 'naver.com'], ['hwang', 'hanmil.net'], ['lee', 'korea.com'], ['choi', 'gmail.com']]

email_new = []
for email in emails:
  email_new.append(email[0] + '@' + email[1])

print(email_new)

['kim@naver.com', 'hwang@hanmil.net', 'lee@korea.com', 'choi@gmail.com']

In [28]:
#p26_ex31

score = [ 1,3, 5, 7, 9, 11, 13]
cnt = 0
for num in score:
  if num<10:
    cnt+=1
    print(num, end=' ')
print('\n10보다 작은 수의 개수: ', cnt)

1 3 5 7 9
10보다 작은 수의 개수:  5

In [31]:
#p26_ex33

subjects = []
sum = 0
avg = 0

for i in range(5):
  subject = int(input('성적 입력: '))
  subjects.append(subject)
  sum += subject

avg = sum / 5.0

print(subjects)
print('총점은 %d이고 평균은 %.1f입니다.' % (sum, avg))

성적 입력: 59
성적 입력: 66
성적 입력: 76
성적 입력: 82
성적 입력: 79
[59, 66, 76, 82, 79]
총점은 362이고 평균은 72.4입니다.

In [33]:
#p28_ex41
data = [[10, 20, 30], [40, 50], [60,70,80,90]]
print(data)

for i in range(len(data)):
  print(data[i][0])

[[10, 20, 30], [40, 50], [60, 70, 80, 90]]
10
40
60

In [35]:
#p28_ex42

score = [
    [88, 76, 92, 98],
    [65, 70, 58, 82],
    [82, 80, 78, 88]
]
total = 0
totalsub = 0

for i in range(len(score)):
  total = score[i][0] + score[i][1] + score[i][2] + score[i][3]
  totalsub = total / 4
  print('총점 %d 평균 %.2f' % (total, totalsub))
  total = 0
  totalsub = 0

총점 354 평균 88.50
총점 275 평균 68.75
총점 328 평균 82.00

In [37]:
#p26_ex32

question = ['tr_in', 'b_s', '_axi', 'air_lane']
answer = ['a', 'u', 't', 'p']
count = 0
for i in range(4):
  q = '%s에서 밑줄(_) 안에 들어갈 알파벳은?'%question[i]
  ans = input(q)
  if ans == answer[i]:
    print('정답입니다!')
    count+=1
  else:
    print('틀렸습니다!')
print('당신의 점수는 %d/4 입니다.'%count)

tr_in에서 밑줄(_) 안에 들어갈 알파벳은?a
정답입니다!
b_s에서 밑줄(_) 안에 들어갈 알파벳은?u
정답입니다!
_axi에서 밑줄(_) 안에 들어갈 알파벳은?t
정답입니다!
air_lane에서 밑줄(_) 안에 들어갈 알파벳은?p
정답입니다!
당신의 점수는 0/4 입니다.

In [40]:
#p29_ex45

scores = [
    [96, 84, 80],
    [96, 86, 76],
    [76, 95, 83],
    [89, 96, 69],
    [83, 86, 79],
    [85, 90, 83]
]
sum = 0
avg = 0
for i in range(len(scores)):
  sum = scores[i][0] + scores[i][1] + scores[i][2]
  avg = sum / 3
  print('%d번째 학생의 합계 : %d, %.2f'%(i, sum, avg))

0번째 학생의 합계 : 260, 86.67
1번째 학생의 합계 : 258, 86.00
2번째 학생의 합계 : 254, 84.67
3번째 학생의 합계 : 254, 84.67
4번째 학생의 합계 : 248, 82.67
5번째 학생의 합계 : 258, 86.00

In [46]:
#p29_ex48

li = []
for n in range(1, 10):
  n*=n
  if n%3==0:
    li.append(n)
print(li)

[9, 36, 81]

In [47]:
#p29_ex49
numbers = [1,2,3,4,5]
result = []
for n in numbers:
  if n % 2 ==1:
    result.append(n*2)
print(result)

[2, 6, 10]

In [50]:
#p30_문제2

for i in [1,2,3]:
  print(['a'*i, 'b'*i, 'c'*i])

['a', 'b', 'c']
['aa', 'bb', 'cc']
['aaa', 'bbb', 'ccc']

In [51]:
#p31_ex8
sentence = input('문장을 입력해 주세요: ')
i = len(sentence) - 1

while i >= 0:
    print(sentence[i], end="")
    i -= 1

문장을 입력해 주세요: Enjoy your life!
!efil ruoy yojnE

In [53]:
#p31_ex14
jumin = "901231-1914983"
year = jumin[:2]

if jumin[7] == '2':
  gender = '여자'
else:
  gender = '남자'
print(f'{year}년생 {gender}입니다.')

90년생 남자입니다.

In [57]:
#p32_ex17
BTS = '정국, 진, 뷔, 슈가, 지민, RM, 제이홉'
BTS_member = BTS.split(', ')
print('방탄 멤버: ', BTS_member)

for member in BTS_member:
  print(member + ' 사랑해')

방탄 멤버:  ['정국', '진', '뷔', '슈가', '지민', 'RM', '제이홉']
정국 사랑해
진 사랑해
뷔 사랑해
슈가 사랑해
지민 사랑해
RM 사랑해
제이홉 사랑해

In [60]:
#p32_ex18
file_names = ['file1.py', 'file2.txt', 'file3.pptx', 'file4.doc']

for i in range(len(file_names)):
    name, extension = file_names[i].split('.')
    print(file_names[i], '=> 파일명:', name, '확장자:', extension)

file1.py => 파일명: file1 확장자: py
file2.txt => 파일명: file2 확장자: txt
file3.pptx => 파일명: file3 확장자: pptx
file4.doc => 파일명: file4 확장자: doc

In [63]:
#p32_ex19
sentence = input('문자열 입력: ')
a = sentence.split(' ')
for word in a:
  print(word[0], end='')

문자열 입력: 복잡한 세상 편하게 살자
복세편살

In [67]:
#p33_ex24
s = 'python programming'
print('a' in s)
print('z' in s)
print('pro' in s)
print('x' in s)

True
False
True
False

In [76]:
#p33_ex25
s = input('영어 문장을 입력하세요: ')
i = 0
count = 0

print('모음: ', end='')
while i < len(s):
    if s[i] in 'aeiouAEIOU':
        count += 1
        print(s[i], end=' ')
    i += 1

print('\n모음의 개수:', count)

영어 문장을 입력하세요: My faviote fruits is watermelon
모음: a i o e u i i a e e o
모음의 개수: 11

In [77]:
#p33_ex26
height = input('키를 입력하세요: ')
if height.isdigit():
    print('숫자입니다.')
else:
    print('숫자로 입력하세요.')

키를 입력하세요: 백칩실
숫자로 입력하세요.

In [78]:
#p34_ex27
data = input('문자열 입력: ')
for i in data:
  if i.isupper() == True:
    print("O", end='')
  else:
    print('X', end='')

문자열 입력: MynameIsPython
OXXXXXOXOXXXXX

In [80]:
#p34_ex28
s = "good morning. MyLove Kim."

print("문자열:", s)
print("대분자로 변경: ", s.upper())
print("소문자로 변경: ", s.lower())

문자열: good morning. MyLove Kim.
대분자로 변경:  GOOD MORNING. MYLOVE KIM.
소문자로 변경:  good morning. mylove kim.

In [82]:
#p34_ex30
char = input('영문 대문자 또는 소문자 하나를 입력하세요: ')

if char.isalpha():
    char = char.upper()
    if char in 'AEIOU':
        print('입력한 문자', char, '는 모음입니다.')
    else:
        print('입력한 문자', char, '는 자음입니다.')
else:
    print('영문 대문자 또는 소문자 하나를 입력해주세요.')

영문 대문자 또는 소문자 하나를 입력하세요: a
입력한 문자 A 는 모음입니다.

In [84]:
#p34_ex32
phone_list1 = ['010-3654-2637', '010-3984-5377', '010-3554-0973']

print(phone_list1)

phone_list2 = []
for i in phone_list1:
    phone_number_without_hyphen = i.replace('-', '')
    phone_list2.append(phone_number_without_hyphen)

print(phone_list2)

['010-3654-2637', '010-3984-5377', '010-3554-0973']
['01036542637', '01039845377', '01035540973']

In [86]:
#p35_ex37
s = "a:b:c:d"
s = s.replace(':', '#')
print(s)

a#b#c#d

In [88]:
#p35_ex36

phone = input('하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: ')

number = ''
for i in range(len(phone)):
  if i == 2:
    number = number + phone[i]+'-'
  elif i==6:
    number = number + phone[i]+'-'

  else:
    number = number + phone[i]
print(number)

하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: 01021220739
010-2122-0739

In [90]:
#p35_ex40
a = 'Tom Dick Harry'
a = a.split(" ")

for i in range(len(a)):
  a[i] = sorted(a[i])
  a[i] = ''.join(a[i])
print(', '.join(a))

Tmo, Dcik, Harry

In [91]:
#p36_ex42
word = input("단어를 입력하세요: ")
count = 0

for char in word:
  if char=='a' or char=='i' or char=='o' or char=='u' or char=='e':
    count+=1
if count>=2:
  print(word+"way")
else:
  print(word+"ay")

단어를 입력하세요: sun
sunay

In [92]:
#p36_ex43
sentence = input("문자열 입력: ")
new = ''
now = sentence[0]
count = 0

for i in sentence:
    if i == now:
        count += 1
    else:
        new += now + str(count)
        now = i
        count = 1
new += now + str(count)

print(new)

문자열 입력: aaabbbbcdddd
a3b4c1d4

In [97]:
#p31_ex14
yoil = "월화수목금토일"
print(yoil[0:8:2])
print(yoil[::-1])

월수금일
일토금목수화월

In [96]:
#p30_ex7
sentence = input("문자열 입력: ")

for i in range(len(sentence)):
  if sentence[i]=='t':
    print(i+1, end=" ")

문자열 입력: test
1 4

In [95]:
#p30_ex5

number=input("하이픈(-)을 포함한 휴대폰번호를 입력하세요: ")

for i in range(len(number)):
  if number[i]=="-":
    continue
  print(number[i], end="")

하이픈(-)을 포함한 휴대폰번호를 입력하세요: 010-2122-0739
01021220739