<a href="https://colab.research.google.com/github/NANONANDFLASH/school_bigdata/blob/main/20615%EC%A0%95%ED%98%84%EC%84%9C_2%EC%B0%A8%EC%9B%90%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#p27

In [ ]:
#ex36
numbers=[[10, 20, 30], [40, 50, 60]]

print(numbers[0])
print(numbers[1])

print(numbers[0][0],numbers[0][1], numbers[0][2])
print(numbers[1][0],numbers[1][1], numbers[1][2])

[10, 20, 30]
[40, 50, 60]
10 20 30
40 50 60

In [ ]:
#ex37

numbers = [[10, 20, 30], [40, 50, 60, 70, 80]]

print(numbers[0][0], numbers[0][1], numbers[0][2])
print(numbers[1][0], numbers[1][1], numbers[1][2], numbers[1][3], numbers[1][4])

10 20 30
40 50 60 70 80

In [ ]:
#ex38
numbers = [[10, 20, 30], [40, 50, 60, 70, 80]]

for sub in numbers:
  for s in numbers:
    print(s, end=' ')
  print()

[10, 20, 30] [40, 50, 60, 70, 80]
[10, 20, 30] [40, 50, 60, 70, 80]

In [ ]:
#ex39

data = [[10, 20], [30, 40], [50, 60], [70, 80]]

for i in range(4):
  for j in range(2):
    print("data[%d][%d] = %d"%(i, j, data[i][j]))

data[0][0] = 10
data[0][1] = 20
data[1][0] = 30
data[1][1] = 40
data[2][0] = 50
data[2][1] = 60
data[3][0] = 70
data[3][1] = 80

In [ ]:
#ex40

strings = [["원두커피", "라떼", "콜라"], ["우동", "국수", "피자", "파스타"]]

for i in range(len(strings)):
  for j in range(len(strings[i])):
    print(strings[i][j], end=' ')
  print()

원두커피 라떼 콜라
우동 국수 피자 파스타

In [ ]:
#ex41

data = [[10, 20, 30], [40, 50], [60, 70, 80, 90]]
print(data)

for i in range(len(data)):
  print(data[i][0])

[[10, 20, 30], [40, 50], [60, 70, 80, 90]]
10
40
60

#p28

In [ ]:
#ex42
score = [
    [88, 76, 92, 98],
    [65, 70, 58, 82],
    [82, 80, 78, 88]
]
total = 0
totalsub = 0

for i in range(len(score)):
  for j in range(len(score[i])):
    total+=score[i][j]
  print("총점 %d 평균 %.2f"%(total, total/4))
  totalsub+=total
  total=0

print("전체평균 %.2f"%(totalsub/4/3))

총점 354 평균 88.50
총점 275 평균 68.75
총점 328 평균 82.00
전체평균 79.75

In [ ]:
#ex43
seats=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
       [1, 1, 1, 0, 0, 0, 0, 0, 1, 0],\
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],\
       [0, 1, 0, 0, 0, 1, 0, 1, 0, 0],\
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],\
       [1, 0, 1, 0, 0, 0, 0, 0, 0, 1]]
      
for i in range(len(seats)):
  for j in range(len(seats[i])):
    if seats[i][j] == 0:
      print('%3s' % '□', end='')
    else:
      print('%3s' % '■', end='')
  print()

print('\n* 예약가능 : ■, 예약불가 : □')

  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □  ■  □
  □  □  □  □  □  ■  □  □  □  □
  □  ■  □  □  □  ■  □  ■  □  □
  □  □  □  □  □  □  ■  □  □  □
  ■  □  ■  □  □  □  □  □  □  ■

* 예약가능 : ■, 예약불가 : □

In [42]:
#ex44
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69], [83, 86, 79], [85, 90, 83]]                        

total = 0
i = 0

while i < len(scores):
    j = 0
    while j < len(scores[i]):
        total += scores[i][j]
        j += 1
    print("%d번째 학생의 합계 : %d, 평균 : %.2f" %(i+1, total, total/3))
    total = 0
    i += 1

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 248, 평균 : 82.67
6번째 학생의 합계 : 258, 평균 : 86.00

In [40]:
#ex45
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69], [83, 86, 79], [85, 90, 83]]                        

total = 0
i = 0
for i in range(len(scores)):
  for j in range(len(scores[i])):
    total+=scores[i][j]
    j+=1
  print("%d번째 학생의 합계 : %d, 평균 : %.2f" %(i+1, total, total/3))
  total=0
  i+=1

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 248, 평균 : 82.67
6번째 학생의 합계 : 258, 평균 : 86.00