<a href="https://colab.research.google.com/github/NANONANDFLASH/school_bigdata/blob/main/20615%EC%A0%95%ED%98%84%EC%84%9C_1_%EC%9E%85%EB%A0%A5%EA%B3%BC_%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.출력하기 p1

In [2]:
print(3+3)

6

In [14]:
print(3+4)
4*5
a = 1
b = 2
print(a+b)

7
3

In [15]:
a = '강아지'
b = '고양이'
print(a)
print(b)

강아지
고양이

In [11]:
print(" *       *")
print("  *     *")
print("   *   *")
print("    * *")
print("     *")

 *       *
  *     *
   *   *
    * *
     *

In [16]:
a = '강아지'
b = '고양이'
print(a, end = '')
print(b)

강아지고양이

In [17]:
print(34, end = '^^')
print(78)

34^^78

In [18]:
a = 12
b = 34
print(a,b)

12 34

#1. 출력하기 p2

In [22]:
a=12
b=34
print(a, b, sep =',')

12,34

In [33]:
s = '서울'
d = '대전'
g = '대구'
b = '부산'
print(s, d, g, b, sep ='찍고 ', end="찍고")

서울찍고 대전찍고 대구찍고 부산찍고

In [29]:
print(12, 34, 56, sep='^^', end = '-->')
print(78)

12^^34^^56-->78

In [30]:
a = 13
b = 21
print(a, b)
print(a + b)
print(a, b, sep='')
print(a, b, end='')

13 21
34
1321
13 21

#2. 입력하기 p2

In [31]:
age = input('몇 살이세요?')
print(age)

몇 살이세요?12
12

In [32]:
name = input('이름을 입력하세요: ')
print("안녕하세요", name, "님!")

이름을 입력하세요: 윤아
안녕하세요 윤아 님!

In [42]:
f1 = input('첫 번째 과일 입력: ')
f2 = input('두 번째 과일 입력: ')
print(f1, "와(과)", f2, "은(는) 내가 좋아하는 과일이다.")

첫 번째 과일 입력: 사과
두 번째 과일 입력: 수박
사과 와(과) 수박 은(는) 내가 좋아하는 과일이다.

In [43]:
year = input('몇 년도? ')
month = input("몇 월? ")
day = input("몇 일? ")
print(year, month, day, sep = " . ")

몇 년도? 2021
몇 월? 12
몇 일? 25
2021 . 12 . 25

In [44]:
age = input('몇 살이세요?')
print(age + age)

몇 살이세요?18
1818

# 2. 입력하기 p3

In [45]:
age = input('몇 살이세요?')
age = int(age)
print(age+age)

몇 살이세요?18
36

In [47]:
price = int(input('가격을 입력하세요 : '))
num = int(input('개수를 입력하세요: '))
sum= price * num
print('총액은', sum, "원입니다")

가격을 입력하세요 : 100
개수를 입력하세요: 5
총액은 500 원입니다

In [51]:
width = int(input('사각형의 가로: '))
height = int(input('사각형의 세로: '))
print("사각형의 면적은", width*height, "입니다.")

사각형의 가로: 5
사각형의 세로: 10
사각형의 면적은 50 입니다.

In [53]:
name = input('이름? ')
year = int(input('태어난 해는? '))
print(name, '님의 나이는', (2023-year+1),'세 입니다.')

이름? 정수
태어난 해는? 2002
정수 님의 나이는 22 세 입니다.

In [54]:
price = int(input('물건의 가격? '))
num = int(input('물건 구매 개수? '))
money = int(input('지불한 돈? '))
print('거스름돈은', money-price*num, '원입니다.')

물건의 가격? 500
물건 구매 개수? 4
지불한 돈? 5000
거스름돈은 3000 원입니다.

#1. 변수 p4

In [55]:
score = 100
print(score)
print(type(score))

100
<class 'int'>

In [57]:
score = 'high'
print(score)
print(type(score))

high
<class 'str'>

#1. 변수 p5

In [62]:
num = 123456789
print(num)
print(type(num))

123456789
<class 'int'>

In [63]:
num = -20909
print(num)
print(type(num))

-20909
<class 'int'>

In [64]:
a= 1.5
b = -3.5
print(a, b)
print(type(a), type(b))

1.5 -3.5
<class 'float'> <class 'float'>

In [65]:
x=3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [66]:
a = "Korea 서울 1234"
print(a)
print(type(a))

Korea 서울 1234
<class 'str'>

In [68]:
a = 30
print(a)
print(type(a))

b = '30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [69]:
a = 5
b = a==5
print(b)

True

In [73]:
if a ==5:
  print("a는 5")

a는 5

#1. 변수 p6

In [74]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
c = a + b
print(c)

첫 번째 숫자를 입력하세요: 18
두 번째 숫자를 입력하세요: 45
1845

In [75]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
c = int(a) + int(b)
print(c)

첫 번째 숫자를 입력하세요: 18
두 번째 숫자를 입력하세요: 45
63

In [77]:
inch = input('인치를 입력하세요 : ')
cm = float(inch)*2.54
print('센티미터:', cm,"cm")

인치를 입력하세요 : 3.5
센티미터: 8.89 cm

In [84]:
num = input('반지름은? ')
num2 = float(num)*2*3.14
num3 = float(num)*float(num)*3.14

print('반지름이', num,'인 원의 둘레는', round(num2, 2),'이고, 면적은 ', num3.,'이다.')

반지름은? 5
반지름이 5 인 원의 둘레는 31.4 이고, 면적은  78.5 이다.

In [90]:
high = input('현재 키는? ')
lehigh = input('5개월 후의 목표 키는? ')
mo = (float(lehigh)-float(high))/5
print('한달에', round(mo, 2),"cm씩 성장해 보세요!")

현재 키는? 2
5개월 후의 목표 키는? 2
한달에 0.0 cm씩 성장해 보세요!

In [100]:
book = input('책 값: ')
discount = input('할인율(%): ')
delivery = input('배송비: ')
total = (float(book)+float(delivery))-float(book)/100*float(discount)
print('결제하실 금액은 ', round(total, 2), '원 입니다.')

책 값: 3000
할인율(%): 20
배송비: 3000
결제하실 금액은  5400.0 원 입니다.

In [103]:
num1 = int(input('첫 번째 과목: '))
num2 = int(input('두 번째 과목: '))
sum = num1 + num2
avg = float(sum)/2
print("합계:", sum, "평균:", round(avg, 2))

첫 번째 과목: 80
두 번째 과목: 96
합계: 176 평균: 88.0

In [106]:
mic = input('삼각형의 밑변 길이 : ')
high = input('삼각형의 높이 : ')
num = float(mic) * float(high)/2
print('삼각형의 면적 : ', round(num, 2))

삼각형의 밑변 길이 : 105
삼각형의 높이 : 5
삼각형의 면적 :  262.5

In [108]:
kg = float(input('킬로그램(kg) 입력: '))
pound = kg*2.2046
print(kg,'kg은', round(pound, 4), '파운드입니다.')

킬로그램(kg) 입력: 30.5
30.5 kg은 67.2403 파운드입니다.

# 연산자 p7

In [110]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5**2)
print(5//2)
print(5%2)

7
3
10
2.5
25
2
1
7

In [111]:
x = 10 % 3
print(x)
y = 7//3
print(y)

1
2

In [112]:
a = 10
b = 20
c = a + b * 10 - 5 / 5
print(c)

209.0

In [113]:
x = 2**3
print(x)

y = 10**4
print(y)

8
10000

In [114]:
hello = '안녕 ' * 5
print(hello)

안녕 안녕 안녕 안녕 안녕

In [115]:
s1 = "대한민국"
s2 = "만세"
print(s1+s2)
print(s1*5)

대한민국만세
대한민국대한민국대한민국대한민국대한민국

In [116]:
print("korea"+str(2021))
print(110+int(22))
print(10 + int(22.5))
print(10 + int(float(22.5)))
print("korea"+2021)

korea2021
132
32
32

TypeError: ignored

In [118]:
x = 10
x += 20
print(x)

30

In [119]:
a = 5
a = a+1
print(a)

a=5
a +=1
print(a)

a -= 5
print(a)

a*=2
print(a)

6
6
1
2

In [120]:
x = 3
y = 5
x *= x+y
print(x)

24

##연산자복습

In [123]:
money = int(input('투입한 돈: '))
price = int(input('물건 값: '))
change = money-price
five = change // 500
one = (change-five*500) // 100
print('거스름돈', change)
print('500원 동전의 개수:', five)
print('100원 동전의 개수', one);

투입한 돈: 2500
물건 값: 300
거스름돈 2200
500원 동전의 개수:  4
100원 동전의 개수 2