<a href="https://colab.research.google.com/github/NANONANDFLASH/school_bigdata/blob/main/20615%EC%A0%95%ED%98%84%EC%84%9C_%EB%B0%98%EB%B3%B5%EB%AC%B8(for).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#P.18

In [ ]:
#P18 ex1
for i in [1, 2, 3]:
  print("Hello World!")
  print(i)

Hello World!
1
Hello World!
2
Hello World!
3

In [ ]:
#p18 ex2

for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
#p18 ex3

for i in range(1, 10, 1):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [ ]:
#p18 ex4

for i in range(1, 10, 2):
  print(i, end=' ')

1 3 5 7 9

In [ ]:
#p18 ex5

for i in range(20, 1, -2):
  print(i, end=' ')

20 18 16 14 12 10 8 6 4 2

In [ ]:
#p18 ex6

for i in range(1, 4, 1):
  print("안녕하세요")

안녕하세요
안녕하세요

In [ ]:
#p18 ex7
a = 10
for num in range(1, 5, 2):
  a += num
print(a)

14

In [ ]:
#p18 ex8

for i in [1, 2, 3]:
  print(i, "번째 학생의 성적 처리")

1 번째 학생의 성적 처리
2 번째 학생의 성적 처리
3 번째 학생의 성적 처리

In [ ]:
#p18 ex9

for i in range(1, 20, 2):
  print(i, end=' ')

1 3 5 7 9 11 13 15 17 19

In [ ]:
#p18 ex10

a = 2
for b in range(1, 10, 1):
  c = a*b
  print(f"{a} * {b} = {c}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
#p18 ex11
sum=0
for i in range(1, 11, 1):
  sum += i
  print(f"i의 값 : {i}  =>  합계 : {sum}")

i의 값 : 1  =>  합계 : 1
i의 값 : 2  =>  합계 : 3
i의 값 : 3  =>  합계 : 6
i의 값 : 4  =>  합계 : 10
i의 값 : 5  =>  합계 : 15
i의 값 : 6  =>  합계 : 21
i의 값 : 7  =>  합계 : 28
i의 값 : 8  =>  합계 : 36
i의 값 : 9  =>  합계 : 45
i의 값 : 10  =>  합계 : 55

In [ ]:
#p19 ex12

sum=0

for i in range(2, 101, 1):
  if(i%2==0):
    sum+=i
print(f"1~100까지의 even_sum = {sum}")

1~100까지의 even_sum = 2550

In [ ]:
#p19 ex13
fact = 1
for i in range(1, 11, 1):
  fact = i * fact
print("10! =", fact)

10! = 3628800

In [38]:
#p19 ex14
cnt = 0
for i in range(1, 101, 1):
  if(i%5==0):
    print(i, end=' ')
    cnt+=1
    if(cnt % 7 ==0):
      print("")

5 10 15 20 25 30 35
40 45 50 55 60 65 70
75 80 85 90 95 100

In [40]:
#p19 ex15
n = int(input("정수를 입력하시오: "))

for i in range(1, i+1, 1):
  if(n%i==0):
   print(i, end=" ")

정수를 입력하시오: 6
1 2 3 6

In [47]:
#p19 ex16
a = 0
b = 1
for i in range(1, 21, 1):
  print(a, end = ' ')
  n = a+b
  b=a
  a=n

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [50]:
#p19 ex17
for x in range(1, 41, 1):
  if(x % 10 ==0):
    print("+", end="")
  else:
    print("-", end='')

---------+---------+---------+---------+

In [56]:
#p19 ex18
x=1
while(x<=740):
  if(x % 10 ==0):
    print("+", end="")
  else:
    print("-", end='')
  x+=1

---------+---------+---------+---------+

In [73]:
print('-'*40)
print(" 센치(cm) 인치(inch) 피트(ft) 야드(yd)")
print('-'*40)
for cm in range(10, 101, 10):
  inch = cm * 0.393701
  ft = cm * 0.032808
  yd = cm * 0.010936
  
  print("%7d %8.1f %8.1f %8.1f" %(cm,inch,ft,yd))
print('-'*40)

----------------------------------------
 센치(cm) 인치(inch) 피트(ft) 야드(yd)
----------------------------------------
     10      3.9      0.3      0.1
     20      7.9      0.7      0.2
     30     11.8      1.0      0.3
     40     15.7      1.3      0.4
     50     19.7      1.6      0.5
     60     23.6      2.0      0.7
     70     27.6      2.3      0.8
     80     31.5      2.6      0.9
     90     35.4      3.0      1.0
    100     39.4      3.3      1.1
----------------------------------------