<a href="https://colab.research.google.com/github/NANONANDFLASH/school_bigdata/blob/main/20615%EC%A0%95%ED%98%84%EC%84%9C%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#ex1
t1 = ()
print(t1)
t2 = (1)
print(t2)
print(type(t2))
t3=(1,)
print(t3)
print(type(t3))

()
1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
#ex2
tu =2,
print(type(tu))
print(tu)

In [4]:
#ex3-1
tu = 1,2,3,4,5

print(tu[3])
print(tu[1:4])
print(tu + (6, 7))
print(tu * 2)

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [5]:
#ex3-2
tu[1]=100
del tu[1]

TypeError: ignored

In [6]:
tu = "이순신", "김유신", "강감찬"
print(tu)
print(tu[0])
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

('이순신', '김유신', '강감찬')
이순신
이순신
김유신
강감찬

In [7]:
#ex5
a, b=12, 34
print (a,b)

a, b= b, a
print(a,b)

12 34
34 12

In [8]:
#ex6
import time
time.localtime()

time.struct_time(tm_year=2023, tm_mon=6, tm_mday=20, tm_hour=2, tm_min=20, tm_sec=57, tm_wday=1, tm_yday=171, tm_isdst=0)

In [9]:
#
import time

def gettime():
  now = time.localtime()
  return now.tm_hour, now.tm_min

print(gettime())

(2, 24)

In [10]:
d, m = divmod(7,3)
print("몫", d)
print("나머지", m)

몫 2
나머지 1

In [14]:
score = [88, 95, 70, 100, 99]
print(score)
print(type(score))
tu=tuple(score)
print(tu)
print(type(tu))

li = list(tu)
print(li)
li[0]=100
print(li)

[88, 95, 70, 100, 99]
<class 'list'>
(88, 95, 70, 100, 99)
<class 'tuple'>
[88, 95, 70, 100, 99]
[100, 95, 70, 100, 99]