<a href="https://colab.research.google.com/github/NANONANDFLASH/school_bigdata/blob/main/20615%EC%A0%95%ED%98%84%EC%84%9C_2_if%EC%A1%B0%EA%B1%B4%EB%AC%B8(~13).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#P8

In [ ]:
if 3>5 :
  print("Hello World")

age = int(input("몇살입니까?"))
if age<20:
  print("학생입니다.")

In [5]:
age = 15
if age<20:
  print("학생입니다.")
  print("안녕히가세요.")

학생입니다.
안녕히가세요.

In [6]:
age = 20
if age<20:
  print("학생입니다.")
print("안녕히가세요.")

안녕히가세요.

In [7]:
print(3 == 5)
print( 3!= 5)
print( 3<5)

False
True
True

In [8]:
x = 4
print(1<x<5)

True

In [9]:
print(3=>5)

SyntaxError: ignored

#P10

In [10]:
country = "Korea"
if country == "Korea":
  print("한국")

한국

In [11]:
age = int(input("몇살입니까?"))
if age < 20:
  print("학생입니다")
else:
  print("성인입니다.")

몇살입니까?20
성인입니다.

In [ ]:
num = int(input("정수입력: "))
if(num % 2 ==0):
  print("짝수")
else:
  print("홀수")

In [12]:
num = int(input("정수입력: "))
if(num % 5 ==0):
  print("5의 배수입니다.")
else:
  print("5의 배수가 아닙니다.")

정수입력: 5
5의 배수입니다.

In [13]:
password = input("암호입력 ")
if password == "암호":
  print("암호이다.")
else:
  print("암호가 아니다.")

암호입력암호
암호이다.

In [16]:
num = int(input("숫자를 입력하세요: "))
if(num > 0):
  print("양수입니다.")
else:
  print("0 또는 음수입니다.")

숫자를 입력하세요: 0
0 또는 음수입니다.

In [17]:
num1 = int(input("첫번째 숫자를 입력하세요: "))
num2 = int(input("두번째 숫자를 입력하세요: "))
if(num1 > num2):
  print(num1-num2)
else:
  print(num2-num1)

첫번째 숫자를 입력하세요: 7
두번째 숫자를 입력하세요: 9
2

In [30]:
time = int(input("1(주간근무) 또는 2(야간근무)을 입력해주세요: "))
money = int(input("근무 시간을 입력해주세요: "))

if(time == 1):
  print(time,"시간 동안 일한 주간 급여는",money*9500,"원 입니다.")
else:
  print(time,"시간 동안 일한 주간 급여는",int(money*9500*1.5),"원 입니다.")

1(주간근무) 또는 2(야간근무)을 입력해주세요: 2
근무 시간을 입력해주세요: 55
2 시간 동안 일한 주간 급여는 783750 원 입니다.

In [33]:
name = input("이름을 입력하세요: ")
time = int(input("일주일간 일한 시간을 입력하세요: "))

if(time>40):
  print("초과 시간:", time-40)
  print(name, "님의 주급은", int(40*12000+(time-40)*12000*1.5), "입니다.")
else:
  print(name, "님의 주급은", time*12000, "입니다.")

이름을 입력하세요: 상민
일주일간 일한 시간을 입력하세요: 38
상민 님의 주급은 456000 입니다.

In [34]:
print((3==3) and (4!=3))
print((3==3) or (4!=3))
print(not (4 != 3))

True
True
False

#P.11

In [35]:
a = int(input("a입력:"))
b = int(input("b입력:"))
if a == 3 and b == 4:
  print("OK")
if a == 3 or b == 4:
  print("Okay")

a입력:3
b입력:4
OK
Okay

In [36]:
x = int(input("숫자입력: "))
if x > 10 and x % 2 == 0:
  print("10 초과 짝수")

숫자입력: 18
10 초과 짝수

In [37]:
num1 = int(input("필기 성적을 입력하세요: "))
num2 = int(input("실기 성적을 입력하세요: "))

if(num1 > 80 and num2 > 80):
  print("합격!")
else:
  print("불합격!")

필기 성적을 입력하세요: 90
실기 성적을 입력하세요: 85
합격!

In [44]:
age = int(input("몇 살이세요? "))

if((0 <= age and age < 7) or (age >= 65)):
  print("입장료는 무료입니다.")
else:
  print("입장료는 3000원입니다.")

몇 살이세요? 4
입장료는 무료입니다.

In [45]:
age = int(input("나이: "))
height = int(input("키: "))

if(age >= 10 and height >= 150):
  print("놀이기구를 탈 수 있다.")
else:
  print("놀이기구를 탈 수 없다.")

나이: 15
키: 160
놀이기구를 탈 수 있다.

In [46]:
id = input("아이디를 입력하세요: ")
level = input("회원 레벨을 입력하세요: ")

if(id == "admin" or level == 1):
  print("관리자입니다.")
else:
  print("관리자가 아닙니다.")

아이디를 입력하세요: admin
회원 레벨을 입력하세요: 1
관리자입니다.

In [47]:
num = int(input("정수를 입력하세요: "))
if(num >= 1 and num <= 100):
  print(num,("은(는) 1~100사이에 있다."))
else:
  print(num,("은(는) 1~100사이에 없다."))

정수를 입력하세요: 77
77 은(는) 1~100사이에 있다.

In [48]:
month = 3

if 3 <= month <=5:
  print("현재는 봄입니다.")
elif 6 <= month <=8:
  print("현재는 여름입니다.")
elif 9 <= month <=11:
  print("현재는 가을입니다.")
else:
  print("현재는 겨울입니다.")

현재는 봄입니다.

#P.12

In [49]:
money = int(input("구매금액: "))

if(money >= 20000 and money >=50000):
  print("무료배송입니다.")
elif(money >= 20000 and money <50000):
  print("배송비 2500원이 추가됩니다.")
else:
  print("새벽배송이 불가능합니다.")

구매금액: 15000
새벽배송이 불가능합니다.

In [50]:
num = int(input("점수를 입력하세요: "))

if num >= 90:
  print("A등급 입니다.")
elif num >= 80:
  print("B등급 입니다.")
elif num >= 70:
  print("C등급 입니다.")
else:
  print("F등급 입니다.")

점수를 입력하세요: 100
A등급 입니다.

In [52]:
num1 = int(input("첫 번째 수: "))
num2 = int(input("두 번째 수: "))
num3 = int(input("세 번째 수: "))

if(num1 > num2 and num1 > num3):
  print("가장 큰 수는", num1, "입니다.")
elif(num2 > num1 and num2 > num3):
  print("가장 큰 수는", num2, "입니다.")
else:
  print("가장 큰 수는", num3, "입니다.")

첫 번째 수: 4
두 번째 수: 6
세 번째 수: 1
가장 큰 수는 6 입니다.

In [54]:
temp = int(input("온도를 입력하세요: "))

if temp < 0:
  print("고체")
elif 0 <= temp < 100:
  print("액체")
else:
  print("기체")

온도를 입력하세요: 34
액체

In [56]:
eng = int(input("영어시험 점수를 입력하세요 : "))
math = int(input("수학시험 점수를 입력하세요 : "))

if(eng > 80 and math >80):
  print("합격")
elif(eng > 80 or math > 80):
  print("재시험 기회 제공")
else:
  print("불합격")

영어시험 점수를 입력하세요 : 85
수학시험 점수를 입력하세요 : 70
재시험 기회 제공

In [57]:
ser = int(input("서비스가 어떠셨나요(예: 1 또는 2 또는 3: "))
money = int(input("음식값을 입력해주세요(예:8000) : "))

if(ser == 1):
  print("팁:", int(money * 0.2),"원입니다.")
elif(ser == 2):
  print("팁:", int(money * 0.1),"원입니다.")
else:
  print("팁:", int(money * 0.05),"원입니다.")

서비스가 어떠셨나요(예: 1 또는 2 또는 3: 2
음식값을 입력해주세요(예:8000) : 9000
팁: 900.0 원입니다.

In [58]:
money = int(input("물건 구매가를 입력하세요 : "))

if money > 300000:
  print("구매가:", money)
  print("할인율 : 10%")
  print("할인금액 :", int(money*0.1),"원")
  print("지불금액 :", money-int(money*0.1), "원")
elif money >= 50000 and money < 300000:
  print("구매가:", money)
  print("할인율 : 7.5%")
  print("할인금액 :", int(money*0.075),"원")
  print("지불금액 :", money-int(money*0.075), "원")
else:
  print("구매가:", money)
  print("할인율 : 15%")
  print("할인금액 :", int(money*0.05),"원")
  print("지불금액 :", money-int(money*0.05), "원")

물건 구매가를 입력하세요 : 60000
구매가: 60000
할인율 : 7.5%
할인금액 : 4500 원
지불금액 : 55500 원

In [63]:
menu = int(input("1. 떡볶이 3000원 \n2. 김밥 2500원 \n3. 튀김 3500원 \n번호 선택 : "))

if(menu == 1):
  print("당신은 떡볶이를 선택하셨군요!")
  inbun = int(input("떡볶이를 몇 인분 주문하시겠습니까? "))
  price = 3000*inbun
  print("총 가격은", price, "원 입니다.")
elif(menu == 2):
  print("당신은 김밥을 선택하셨군요!")
  inbun2 = int(input("김밥을 몇 인분 주문하시겠습니까? "))
  price = 2500*inbun2
  print("총 가격은", price, "원 입니다.")
elif(menu == 3):
  print("당신은 튀김을 선택하셨군요!")
  inbun3 = int(input("튀김을 몇 인분 주문하시겠습니까? "))
  print("총 가격은", 3500*inbun3, "원 입니다.")
else:
  print("1, 2, 3 중 하나를 선택해주세요")

1. 떡볶이 3000원
2. 김밥 2500원
3. 튀김 3500원
번호 선택 : 1
당신은 떡볶이를 선택하셨군요!
떡볶이를 몇 인분 주문하시겠습니까?2
총 가격은 6000 원 입니다.

In [64]:
kg = int(input("체중을 입력하세요: "))
height = float(input("키를 입력하세요(m): "))
BMI = kg / (height**2)

if(BMI > 25):
  print("당신의 BMI지수는", BMI, "이며 비만입니다.")
elif(BMI <= 25 and BMI >15):
  print("당신의 BMI지수는", BMI, "이며 과체중입니다.")
else:
  print("당신의 BMI지수는", BMI, "이며 정상입니다.")

체중을 입력하세요: 88
키를 입력하세요(m): 1.8
당신의 BMI지수는 27.160493827160494 이며 비만입니다.

#P.13

In [65]:
kg = int(input("체중을 입력하세요: "))
height = int(input("키를 입력하세요(cm): "))
age = int(input("나이를 입력하세요: "))
male = input("성별을 입력하세요: 남자/여자 ")

if(male == "남자"):
  das = 66.47 + (13.75 * kg) + (5*height)-(6.68*age)
  print("당신의 기초대사량은", das, "입니다.")
else:
  das = 655.1 + (9.56 * kg) + (18.5*height)-(4.68*age)
  print("당신의 기초대사량은", das, "입니다.")

체중을 입력하세요: 90
키를 입력하세요(cm): 183
나이를 입력하세요: 39
성별을 입력하세요: 남자/여자 남자
당신의 기초대사량은 1958.4500000000003 입니다.

In [ ]:
x = 17
if x > 10 :
  if x %2==0:
    print("10초과 짝수")
  else:
    print("10초과 홀수")