<a href="https://colab.research.google.com/github/NANONANDFLASH/school_bigdata/blob/main/20615%EC%A0%95%ED%98%84%EC%84%9C_%EB%A3%A8%ED%94%84%EC%9D%98_%ED%99%9C%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#P20

In [ ]:
#ex20
for i in range(1, 1001):
  print(i, end=' ')
  if i == 10:
    break

1 2 3 4 5 6 7 8 9 10

In [ ]:
#ex21
score = [ 92, 86, 68, 120, 56, 72]

for i in range(0, len(score)):
  if(score[i]>100):
    print('성적 처리 끝')
    break
  print(score[i])

92
86
68
성적 처리 끝

In [ ]:
#ex21-1
score = [ 92, 86, 68, 120, 56, 72]

for i in range(0, len(score)):
  if(score[i]>100 or score[i]<0):
    continue
  print(score[i])
print('성적 처리 끝')

92
86
68
56
72
성적 처리 끝

In [ ]:
#ex22
print ( "3 + 4 = ?" )

while 1:
  a = int(input('정답을 입력하시오: '))
  if(a==7):
    break
print("참 잘했어요")

3 + 4 = ?
정답을 입력하시오: 3
정답을 입력하시오: 4
정답을 입력하시오: 7
참 잘했어요

In [ ]:
#ex23
while True :
  light = input("신호등 색상 입력:")
  if(light=='green'):
    break
print("길을 건너세요")

신호등 색상 입력:red
신호등 색상 입력:yellow
신호등 색상 입력:green
길을 건너세요

In [ ]:
#ex24
i = 1
total = 0

while True:
  total = total + i
  if(total>50):
    print("합이 50보다 커지는 수는 %d이고 합은 %d다" %(i,total))
    break
  i+=1

합이 50보다 커지는 수는 10이고 합은 55다

#이중루프

In [ ]:
#ex25
for dan in range(2, 10):
  print( dan, "단")
  for hang in range(1, 10):
    print(dan, "*", hang, "=", dan*hang)
    print()

2 단
2 * 1 = 2

2 * 2 = 4

2 * 3 = 6

2 * 4 = 8

2 * 5 = 10

2 * 6 = 12

2 * 7 = 14

2 * 8 = 16

2 * 9 = 18

3 단
3 * 1 = 3

3 * 2 = 6

3 * 3 = 9

3 * 4 = 12

3 * 5 = 15

3 * 6 = 18

3 * 7 = 21

3 * 8 = 24

3 * 9 = 27

4 단
4 * 1 = 4

4 * 2 = 8

4 * 3 = 12

4 * 4 = 16

4 * 5 = 20

4 * 6 = 24

4 * 7 = 28

4 * 8 = 32

4 * 9 = 36

5 단
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

5 * 6 = 30

5 * 7 = 35

5 * 8 = 40

5 * 9 = 45

6 단
6 * 1 = 6

6 * 2 = 12

6 * 3 = 18

6 * 4 = 24

6 * 5 = 30

6 * 6 = 36

6 * 7 = 42

6 * 8 = 48

6 * 9 = 54

7 단
7 * 1 = 7

7 * 2 = 14

7 * 3 = 21

7 * 4 = 28

7 * 5 = 35

7 * 6 = 42

7 * 7 = 49

7 * 8 = 56

7 * 9 = 63

8 단
8 * 1 = 8

8 * 2 = 16

8 * 3 = 24

8 * 4 = 32

8 * 5 = 40

8 * 6 = 48

8 * 7 = 56

8 * 8 = 64

8 * 9 = 72

9 단
9 * 1 = 9

9 * 2 = 18

9 * 3 = 27

9 * 4 = 36

9 * 5 = 45

9 * 6 = 54

9 * 7 = 63

9 * 8 = 72

9 * 9 = 81

In [ ]:
#ex26
dan = 2
while(dan < 10):
  hang = 1
  print(dan, "단")
  while(hang < 10):
    print(dan, "*", hang, "=", dan*hang)
    hang+=1
  dan+=1
  print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
#ex26
for y in range(1, 6):
  for x in range(1, y+1):
    print('*', end='')
  print()

*
**
***
****
*****

In [ ]:
#ex27
for i in range(1, 8):
  for j in range(1, 8):
    if (i == j) or (i+j ==8):
      print('*', end='')
    else:
      print(end=' ')
  print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [ ]:
#ex28
cnt = 0
n = int(input('수 입력 : '))

for i in range(2, n):
  pn = 1
  for j in range(2, i):
    if (i % j == 0):
      pn = 0
      break

  if pn == 1:
    print('{:>5}'.format(i), sep = '', end = ' ')
    cnt += 1
    if(cnt == 5):
      print()
      cnt = 0

수 입력 : 50
    2     3     5     7    11
   13    17    19    23    29
   31    37    41    43    47