<a href="https://colab.research.google.com/github/NANONANDFLASH/school_bigdata/blob/main/20615%EC%A0%95%ED%98%84%EC%84%9C_%EC%88%98%ED%96%89%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1
print('I said "Hello" to you.')
print("Let's go.")

I said "Hello" to you.
Let's go.

In [2]:
#2
row = int(input("삼각형의 밑변 길이: "))
height = int(input("삼각형의 높이: "))
print("삼각형의 면적:", row*height/2)

삼각형의 밑변 길이: 10
삼각형의 높이: 3
삼각형의 면적: 15.0

In [9]:
#3
h = int(input("현재 시: "))
m = int(input("현재 분: "))

if m < 40:
  print("20분 뒤에는 %d시 %d분입니다." %(h, m+20))
elif m >=40:
  print("20분 뒤에는 %d시 %d분입니다." %(h+1, m+20-60))

현재 시: 13
현재 분: 55
20분 뒤에는 14시 15분입니다.

In [14]:
#4
id = input("아이디를 입력하세요: ")
lv = int(input("회원 레벨을 입력하세요: "))

if id=="admin" or lv == 1:
  print("관리자입니다.")
else:
  print("관리자가 아닙니다.")

아이디를 입력하세요: happy
회원 레벨을 입력하세요: 3
관리자가 아닙니다.

In [16]:
#5
f = int(input("첫 번째 수: "))
s = int(input("두 번째 수: "))
t = int(input("세 번째 수: "))

if f>s and f>t:
  print("가장 큰 수는 %d입니다" %(f))
elif s>f and s>t:
  print("가장 큰 수는 %d입니다" %(s))
else:
  print("가장 큰 수는 %d입니다" %(t))

첫 번째 수: 50
두 번째 수: 2
세 번째 수: 1
가장 큰 수는 50입니다

In [17]:
#5
year = int(input("나이 입력: "))

if year >= 0 and year <= 7:
  print("어린이")
elif year >= 8 and year <= 13:
  print("초등학생")
elif year >= 14 and year <= 16:
  print("중학생")
elif year >= 17 and year <= 19:
  print("고등학생")
else:
  print("성인")

나이 입력: 17
고등학생

In [18]:
#6
jum = int(input("점수 입력: "))

if jum >= 90:
  print("A 등급입니다.")
elif jum <90 and jum >= 80:
  print("B 등급입니다.")
elif jum <80 and jum >= 70:
  print("C 등급입니다.")
else:
  print("F 등급입니다.")

점수 입력: 90
A 등급입니다.

In [28]:
#7
num = int(input("숫자 입력: "))

if num % 3 ==0:
  if(num % 5 ==0):
    print("3과 5의 공배수")
  else:
    print("3의 배수")
else:
  print("3의 배수 아님")

숫자 입력: 15
3과 5의 공배수

In [27]:
#8
i = 1

for i in range(20):
  if i % 2 !=0:
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19

In [30]:
#9
num = 1
sum = 0

for num in range(11):
  sum += num
  print("num의 값 : %d => 합계 : %d" %(num, sum))

num의 값 : 0 => 합계 : 0
num의 값 : 1 => 합계 : 1
num의 값 : 2 => 합계 : 3
num의 값 : 3 => 합계 : 6
num의 값 : 4 => 합계 : 10
num의 값 : 5 => 합계 : 15
num의 값 : 6 => 합계 : 21
num의 값 : 7 => 합계 : 28
num의 값 : 8 => 합계 : 36
num의 값 : 9 => 합계 : 45
num의 값 : 10 => 합계 : 55

In [36]:
#10
a = int(input("숫자 입력 : "))
result = 1
for i in range(1, a+1, 1):
    result *= i
print("%d! = %d" %(a, result))

숫자 입력 : 10
10! = 3628800

In [40]:
#11
import random
cnt = 1
answer = random.randrange(1,101)

print("정답 %d" %(answer))

while(1):
  guess = int(input("숫자를 맞혀 보세요: "))
  if guess != answer:
    if(answer>guess):
      print("낮음")
    else:
      print("높음")
  else:
    break
  cnt+=1
print("축하합니다. 시도횟수 = %d" %(cnt))

정답 76
숫자를 맞혀 보세요: 5
낮음
숫자를 맞혀 보세요: 76
축하합니다. 시도횟수 = 2

In [41]:
#12
for i in range(10, 51, 1):
  if i % 3 != 0:
    print(i, end=" ")

10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [43]:
#13
import random

print("주사위 게임을 시작합니다.")

while(1):
  print("주사위를 던졌습니다.")
  answer = random.randrange(1, 7)
  print("나: %d" %(answer))
  guess = int(input("당신: "))
  if guess == answer:
    print("무승부!")
    re = input("계속하려면 y를 입력하세요!: ")
    if re == "y":
      continue
    else:
      break
  elif guess > answer:
    print("나의 승리")
    re = input("계속하려면 y를 입력하세요!: ")
    if re == "y":
      continue
    else:
      break
  else:
    print("나의 패배")
    re = input("계속하려면 y를 입력하세요!: ")
    if re == "y":
      continue
    else:
      break

주사위 게임을 시작합니다.
주사위를 던졌습니다.
나: 6
당신: 6
무승부!
계속하려면 y를 입력하세요!: y
주사위를 던졌습니다.
나: 2
당신: 3
나의 승리
계속하려면 y를 입력하세요!: n

In [78]:
#14

a = int(input("숫자 입력: "))

while a != 0:
  print(a%10, end="")
  a= a//10

숫자 입력: 3452
2543

In [45]:
#15
for i in range(1, 10, 1):
  print("2 * %d = %d" %(i, i*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [48]:
#16
for i in range(9, 0, -1):
  print("2 * %d = %d" %(i, i*2))

2 * 9 = 18
2 * 8 = 16
2 * 7 = 14
2 * 6 = 12
2 * 5 = 10
2 * 4 = 8
2 * 3 = 6
2 * 2 = 4
2 * 1 = 2

In [76]:
#17
max_i = 0
max = 0

for i in range(1, 100):
    save = i * (100-i)
    if save > max:
      max = save
      max_i = i

max_j = 100-i
print("최대가 되는 경우 : %d * %d = %d" %(max_i, max_j, max))

최대가 되는 경우 : 50 * 1 = 2500

In [50]:
#18
n = int(input("정수를 입력하시오: "))

for i in range(1, n+1, 1):
  if n % i ==0:
    print(i, end=" ")

정수를 입력하시오: 6
1 2 3 6

In [85]:
#19
n = int(input("입력할 숫자 개수: "))
max_i=0
max = 0
for i in range(0, n, 1):
  a = int(input("숫자 입력: "))
  if a>max:
    max = a
    max_i = i+1
print("가장 큰 수는 %d번째 입니다." %(max_i))

입력할 숫자 개수: 2
숫자 입력: 5
숫자 입력: 46
가장 큰 수는 2번째 입니다.

In [60]:
#20
cnt = 0

for i in range(1, 101, 1):
  if i % 4 == 0:
    print(i, end=" ")
    cnt += 1
  if cnt == 7:
    print("")
    cnt = 0

4 8 12 16 20 24 28
32 36 40 44 48 52 56
60 64 68 72 76 80 84
88 92 96 100

In [89]:
#21
n = int(input("숫자 입력: "))
cnt = 0
for i in range(1, n+1, 1):
  if i%10 == 1:
    cnt +=1
print("일의 자리 숫자가 1인 수는 %d개" %(cnt))

숫자 입력: 51
일의 자리 숫자가 1인 수는 6개

In [62]:
#22
print("3+4?")
while(1):
  answer = int(input("정답을 입력하시오: "))
  if answer == 7:
    break
print("참 잘했어요!")

3+4?
정답을 입력하시오: 5
정답을 입력하시오: 6
정답을 입력하시오: 3
정답을 입력하시오: 7
참 잘했어요!