<a href="https://colab.research.google.com/github/NANONANDFLASH/school_bigdata/blob/main/20615%EC%A0%95%ED%98%84%EC%84%9C_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EB%A9%94%EC%86%8C%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#p24

In [ ]:
#19
nums = [1,2,3,4]
nums.append(5)
print(nums)

nums.insert(2,99)
print(nums
      )

[1, 2, 3, 4, 5]
[1, 2, 99, 3, 4, 5]

In [ ]:
#20
list1=[1,2,3,4,5]
list2=[10,11]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 10, 11]

In [ ]:
#21
score = [88, 95, 70, 100, 99]
print("100의 위치: ", score.index(100)+1)

print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

100의 위치:  4
99
100
95
[88, 70]

In [ ]:
#22
score = [88,95,70,100,99]

score.remove(99)
print("99삭제 후 : ", score)
score.sort()
print("리스트 정렬 후:", score)
score.sort(reverse=True)
print("거꾸로 정렬:", score)
score.clear()
print("리스트 삭제", score)

99삭제 후 :  [88, 95, 70, 100]
리스트 정렬 후: [70, 88, 95, 100]
거꾸로 정렬: [100, 95, 88, 70]
리스트 삭제 []

In [ ]:
#23
list1 = ['a', 'bb', 'c', 'd', 'aaa', 'c', 'ddd', 'aaa', 'b', 'cc', 'd', 'aaa']
length = list1.count('aaa')

print(length)

3

In [ ]:
#24
mylist = ['사과', '바나나', '파인애플']
mylist.append('키위')
mylist.append('배')
for a in mylist:
  print(a)

사과
바나나
파인애플
키위
배

In [ ]:
#25
scores = []

while True :
  score = int(input("성적을 입력하세요(종료 : -1): "))
  if score == -1:
    break
  else:
    scores.append(score)

print(scores)

성적을 입력하세요(종료 : -1): 88
성적을 입력하세요(종료 : -1): 75
성적을 입력하세요(종료 : -1): 36
성적을 입력하세요(종료 : -1): -1
[88, 75, 36]

#p25

In [5]:
#26
num = []
for i in range(5):
  num.append(int(input("숫자를 입력하시오: ")))
print("소트전:", num)
num.sort()
print("소트후:", num)

숫자를 입력하시오: 5
숫자를 입력하시오: 20
숫자를 입력하시오: -34
숫자를 입력하시오: 2
숫자를 입력하시오: 5
소트전: [5, 20, -34, 2, 5]
소트후: [-34, 2, 5, 5, 20]
[-34, 2, 5, 5, 20]

In [ ]:
#27
emails = [["kim", "naver.co,"], ["hawng", "hanmail.net"], ["lee", "korea.com"], ["choi", "gmail.com"]]

email_new = []
for email in emails:
  email_new.append(email[0] + "@" + email[1])

print(email_new)

['kim@naver.co,', 'hawng@hanmail.net', 'lee@korea.com', 'choi@gmail.com']

In [ ]:
fruits = ['apple', 'orange', 'banana']

for fruits in fruits :
  print(fruits)

apple
orange
banana

In [ ]:
#28
s = "hello"
for i in s:
  print(i, end='')

hello

In [ ]:
#29
colors = ["빨간색", "파란색", "노란색", "초록색"]
for color in colors:
  print("나는 %s을 좋아한다."%(color))

나는 빨간색을 좋아한다.
나는 파란색을 좋아한다.
나는 노란색을 좋아한다.
나는 초록색을 좋아한다.

In [ ]:
#30
numbers = [7,9,15,18,30,-3,7,12,-16,-12]
sum = 0
for number in numbers:
  sum = sum+number
print("합계 :", sum)

합계 : 67

In [ ]:
#31
score = [1,3,5,7,9,11,13]
cnt =0
for num in score :
  if num < 10:
    cnt+=1
    print(num, end=' ')
print('\n10보다 작은 수의 개수:', cnt)

1 3 5 7 9
10보다 작은 수의 개수: 5

In [2]:
#32
questions = ['tr_in', 'b_s', '_axi', 'air_lane']
answers = ['a', 'u', 't', 'p']
count = 0
for i in range(4):
  q = '%s에서 밑줄(_) 안에 들어갈 알파벳은?'%(questions[i])
  ans = input(q)
  if ans == answers[i]:
    print('정답입니다!')
    count += 1
  else:
    print('틀렸습니다!')
print("당신의 점수는 %d/4입니다."%count)

tr_in에서 밑줄(_) 안에 들어갈 알파벳은?a
정답입니다!
b_s에서 밑줄(_) 안에 들어갈 알파벳은?i
틀렸습니다!
_axi에서 밑줄(_) 안에 들어갈 알파벳은?t
정답입니다!
air_lane에서 밑줄(_) 안에 들어갈 알파벳은?p
정답입니다!
당신의 점수는 3/4입니다.

In [4]:
#33
score = []
for i in range(5):
  num = int(input("성적입력: "))
  score.append(num)
print(score)

sum = 0
for s in range(5):
  sum+=score[s]
print("총점은 %d이고 평균은 %.2f입니다." %(sum, sum/5.0))

성적입력: 59
성적입력: 66
성적입력: 76
성적입력: 82
성적입력: 79
[59, 66, 76, 82, 79]
총점은 362이고 평균은 72.40입니다.

In [21]:
#34
numbers = [7, 9, 15, 18, 30, -3, 7, 12, -16, -12]

sum = 0
i = 0
print("짝수 번째 요소: ", end='')

while i < len(numbers):
  if i%2==0:
    sum = sum + numbers[i+1]
    print(numbers[i+1], end = ' ')
  i+=1

print()
print("합계:", sum)

짝수 번째 요소: 9 18 -3 12 -12
합계: 24

In [19]:
#35
s = [64, 89, 100, 85, 77, 58, 79, 67, 96, 87, 87, 36, 82, 98, 84, 76, 63, 69, 53, 22]

soo = 0
woo = 0
mi = 0
yang = 0
ga = 0

i=0
while i < len(s):
  if s[i] >= 90 and s[i] <=100:
    soo = soo +1

  elif s[i] >=80 and s[i] <= 89:
    woo = woo +1

  elif s[i] >=70 and s[i] <= 79:
    mi = mi +1
  
  elif s[i] >=60 and s[i] <= 69:
    yang = yang +1
  
  else:
    ga=ga+1

  i+=1

print("수 : %d명" % soo)
print("우 : %d명" % woo)
print("미 : %d명" % mi)
print("양 : %d명" % yang)
print("가 : %d명" % ga)

수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명