<a href="https://colab.research.google.com/github/3boku/school_bigdata/blob/main/2%ED%95%99%EA%B8%B0_%EC%88%98%ED%96%89_%EC%A4%80%EB%B9%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = 12
b = 34

a, b = b,a

print(a, b)

34 12

In [8]:
animation = {}

print("요소 추가 이전:", animation)

animation = {
    '작가': '황미나',
    '연재작': '이오니아의 푸른 별',
    '최근작': '보톡스'
}

print("요소 추가 이후:", animation)

del animation['연재작']

print("요소 제거 이후:", animation)

요소 추가 이전: {}
요소 추가 이후: {'작가': '황미나', '연재작': '이오니아의 푸른 별', '최근작': '보톡스'}
요소 제거 이후: {'작가': '황미나', '최근작': '보톡스'}

In [16]:
rainbow = {
    '빨강': 'red',
    '주황': 'orange',
    '노': 'yellow',
    '초': 'green',
    '파': 'blue',
    '남': 'navy',
    '보': 'purple'
}

print("초록색 =", rainbow['초'])

rainbow['하얀색'] = 'white'

rainbow['주황'] = 'juhwang'

del(rainbow['파'])
print(rainbow)

초록색 = green
{'빨강': 'red', '주황': 'juhwang', '노': 'yellow', '초': 'green', '남': 'navy', '보': 'purple', '하얀색': 'white'}

In [17]:
dic = {'boy' : '소년', 'school' : '학교', 'book' : '책'}

print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['boy', 'school', 'book'])
dict_values(['소년', '학교', '책'])
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

In [18]:
dic = {'boy' : '소년', 'school' : '학교', 'book' : '책'}
print(dic.get('boy'))
print(dic.get('student'))
print(dic.get('student', '사전에 없는 단어입니다.'))

소년
None
사전에 없는 단어입니다.

In [19]:
dic = {'boy' : '소년', 'school' : '학교', 'book' : '책'}

In [20]:
for key in dic.keys():
  print(key)

boy
school
book

In [21]:
for value in dic.values():
  print(value)

소년
학교
책

In [22]:
for item in dic.items():
  print(item)

('boy', '소년')
('school', '학교')
('book', '책')

In [25]:
pets=[
    {'name':'구름', 'age':5},
    {'name':'초코', 'age':3},
    {'name':'아지', 'age':1},
    {'name':'호랑이', 'age':1}
]
print("#우리 동네 애완 동물들#")

for pet in pets:
  print(pet['name'], pet['age'], '살')

#우리 동네 애완 동물들#
구름 5 살
초코 3 살
아지 1 살
호랑이 1 살

In [26]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 1, 7, 3, 5, 1, 3, 5, 7, 9]
count = {}

for n in numbers:
    if n in count:
        count[n] += 1
    else:
        count[n] = 1

print(count)

{1: 3, 2: 1, 3: 3, 4: 1, 5: 4, 6: 1, 7: 3, 8: 1, 9: 2}

In [27]:
song = "by the rivers of babylon"
alphabet = dict()

for c in song:
  if c.isalpha() == False:
    continue
  c = c.lower()
  if c in alphabet:
    alphabet[c] += 1
  else:
    alphabet[c] = 1

print(alphabet)

{'b': 3, 'y': 2, 't': 1, 'h': 1, 'e': 2, 'r': 2, 'i': 1, 'v': 1, 's': 1, 'o': 2, 'f': 1, 'a': 1, 'l': 1, 'n': 1}

In [28]:
def Hi():
  print('Hello World!')

Hi()

Hello World!

In [29]:
def avg(a, b, c):
  sum = a+b+c
  print(sum/3)

avg(3, 5, 10)

6.0

In [31]:
def print_n_times(n, *values):
  for i in range(n):
    for value in values:
      print(value, end=' ')
    print()

print_n_times(2, "안녕하세요", "즐거운", "파이썬")
print_n_times(1, "즐거운", "파이썬")

안녕하세요 즐거운 파이썬
안녕하세요 즐거운 파이썬
즐거운 파이썬

In [35]:
def add_mul(choice, *args):
  if choice == 'add':
    result = 0
    for i in args:
      result = result+i
  elif choice == 'mul':
    result = 1
    for i in args:
      result = result*i
  return result

print(add_mul('add', 1,2,3,4,5))
print(add_mul('mul', 1,2,3))

15
6

In [42]:
def calcstep(begin, end, step=1):
    total_sum = 0
    for num in range(begin, end, step):
        total_sum += num
    print(f"{begin}부터 {end}까지 숫자 중 {step}간격씩 더한 값은 {total_sum}")

calcstep(1, 100, 2)
calcstep(1, 100)

1부터 100까지 숫자 중 2간격씩 더한 값은 2500
1부터 100까지 숫자 중 1간격씩 더한 값은 4950

In [41]:
def fn(a,b,c,d,e):
  print(a,b,c,d,e)

fn(1, 2, d=4, c=3, e=5)

1 2 3 4 5

In [47]:
def test():
  print("A위치입니다.")
  return
  print("B위치 입니다.")

test()

A위치입니다.

In [2]:
def min_max(*args):

  min = args[0]
  max = args[0]

  for arg in args:
    if min > arg:
      min = arg
    if max < arg:
      max = arg
  return min, max

min, max = min_max(52, -3, 23, 89, -21)
print(f"최소: {min} 최대: {max}")

최소: -21 최대: 89

In [3]:
def reward_penalty(kind, points):
  global current_point
  print('현재점수 :', current_point)

  if kind == '상점':
    current_point += points
  elif kind == '벌점':
    current_point -= points

current_point = 5
reward_penalty('상점', 5)
reward_penalty('벌점', 1)
print('최종점수 :', current_point)

현재점수 : 5
현재점수 : 10
최종점수 : 9

In [ ]:
file = open("basic.txt", "w")
file.write("Hello Python Programming")
file.close()

In [5]:
with open("basic.txt", "w") as file:
    file.write("Hello Python Programming")

In [8]:
with open('basic.txt', 'r') as file:
  contents = file.read()

print(contents)

Hello Python Programming

In [10]:
import random

hanguls = list('가나다라마바사아자차카타파하')

with open('info.txt', 'w') as file:
    for i in range(50):
        name = random.choice(hanguls) + random.choice(hanguls)
        weight = random.randrange(40, 100)
        height = random.randrange(140, 200)
        file.write(f'{name}, {weight}, {height}\n')

In [13]:
with open('info.txt', 'r') as file:
    for line in file:
        name, weight, height = line.strip().split(', ')
        weight = float(weight)
        height = int(height)
        bmi = weight / ((height / 100) ** 2)
        print('\n'.join([
            "이름: {}",
            '몸무게: {}',
            '키: {}',
            'bmi: {}'
        ]).format(name, weight, height, bmi))
        print()

이름: 카타
몸무게: 52.0
키: 193
bmi: 13.960106311578835

이름: 가차
몸무게: 44.0
키: 186
bmi: 12.7182333217713

이름: 파다
몸무게: 63.0
키: 161
bmi: 24.3046178773967

이름: 마차
몸무게: 70.0
키: 191
bmi: 19.188070502453332

이름: 라라
몸무게: 40.0
키: 156
bmi: 16.43655489809336

이름: 아파
몸무게: 41.0
키: 183
bmi: 12.242826002568005

이름: 가사
몸무게: 59.0
키: 186
bmi: 17.05399468146606

이름: 파카
몸무게: 46.0
키: 155
bmi: 19.14672216441207

이름: 가다
몸무게: 71.0
키: 170
bmi: 24.56747404844291

이름: 나카
몸무게: 53.0
키: 163
bmi: 19.94805976890361

이름: 파나
몸무게: 40.0
키: 146
bmi: 18.765246762994934

이름: 자타
몸무게: 63.0
키: 167
bmi: 22.589551436050055

이름: 나가
몸무게: 82.0
키: 180
bmi: 25.30864197530864

이름: 마아
몸무게: 71.0
키: 184
bmi: 20.97117202268431

이름: 나가
몸무게: 92.0
키: 163
bmi: 34.62682073092702

이름: 차사
몸무게: 86.0
키: 180
bmi: 26.54320987654321

이름: 나바
몸무게: 94.0
키: 171
bmi: 32.14664341164803

이름: 다자
몸무게: 82.0
키: 160
bmi: 32.03124999999999

이름: 파가
몸무게: 47.0
키: 186
bmi: 13.585385593710253

이름: 마가
몸무게: 75.0
키: 189
bmi: 20.99605274208449

이름: 사마
몸무게: 45.0
키: 193
bmi: 12.080861231173992

이름: 차아
몸무게: 76.0
키: 148
bmi: 34.69685902118335

이름: 카다
몸무게: 51.0
키: 183
bmi: 15.228881125145568

이름: 다마
몸무게: 82.0
키: 153
bmi: 35.02926224956214

이름: 차사
몸무게: 69.0
키: 192
bmi: 18.717447916666668

이름: 아바
몸무게: 84.0
키: 157
bmi: 34.0784616008763

이름: 가파
몸무게: 93.0
키: 197
bmi: 23.963513617975213

이름: 가바
몸무게: 59.0
키: 162
bmi: 22.481329065691202

이름: 하나
몸무게: 48.0
키: 171
bmi: 16.415307274033037

이름: 사카
몸무게: 76.0
키: 173
bmi: 25.393431120318084

이름: 타타
몸무게: 66.0
키: 176
bmi: 21.306818181818183

이름: 나하
몸무게: 98.0
키: 187
bmi: 28.024821985186875

이름: 사아
몸무게: 51.0
키: 140
bmi: 26.02040816326531

이름: 라바
몸무게: 79.0
키: 196
bmi: 20.564348188254897

이름: 바하
몸무게: 89.0
키: 151
bmi: 39.03337572913469

이름: 다라
몸무게: 40.0
키: 156
bmi: 16.43655489809336

이름: 가차
몸무게: 91.0
키: 183
bmi: 27.173101615455817

이름: 차파
몸무게: 96.0
키: 180
bmi: 29.629629629629626

이름: 사하
몸무게: 60.0
키: 198
bmi: 15.304560759106215

이름: 사타
몸무게: 97.0
키: 197
bmi: 24.994202375737586

이름: 나카
몸무게: 72.0
키: 188
bmi: 20.37120869171571

이름: 마차
몸무게: 78.0
키: 184
bmi: 23.03875236294896

이름: 카타
몸무게: 73.0
키: 178
bmi: 23.04002019946976

이름: 사파
몸무게: 57.0
키: 162
bmi: 21.719250114311837

이름: 타사
몸무게: 85.0
키: 196
bmi: 22.12619741774261

이름: 가나
몸무게: 90.0
키: 186
bmi: 26.014568158168572

이름: 자마
몸무게: 43.0
키: 154
bmi: 18.13121942992073

이름: 차아
몸무게: 66.0
키: 164
bmi: 24.538964901844146

이름: 파타
몸무게: 68.0
키: 166
bmi: 24.677021338365513

이름: 사자
몸무게: 95.0
키: 178
bmi: 29.983587930816814

In [21]:
class Character:
    def __init__(self, name, hp, ad):
        self.name = name
        self.hp = hp
        self.ad = ad
        print('객체 생성:', self.name)

    def information(self):
        print(f'{self.name}: HP = {self.hp}, AD = {self.ad}')

    def attack(self, target):
        print(f'{self.name}이/가 {target.name}을 공격합니다.')
        target.hp -= self.ad
        print(f'공격 성공! {target.name} (남은 체력: {target.hp})')

swordsman = Character('검술사', 100, 10)
fairy = Character('요정', 60, 5)
thief = Character('도적', 85, 8)

swordsman.attack(fairy)
thief.attack(fairy)

객체 생성: 검술사
객체 생성: 요정
객체 생성: 도적
검술사이/가 요정을 공격합니다.
공격 성공! 요정 (남은 체력: 50)
도적이/가 요정을 공격합니다.
공격 성공! 요정 (남은 체력: 42)